@import url(https://fonts.googleapis.com/css?family=Bungee);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);


.jumbotron-picture {
    background-image: url("https://img4.goodfon.com/wallpaper/nbig/0/9b/michelle-lewin-sexy-model-fitness.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.full-height {
    min-height: 100%;  
    min-height: 100vh;
}
.semi-transparent-bg {
    background-color: rgba(48, 48, 48, 0.9);
 }
.vertical-center {
    
  
    display: flex;
    align-items: center;
}

.breadcrum-link {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.breadcrum-link:hover {
    color: wheat;
    text-decoration: underline;
}
.bg-black {
    color: white;
    background-color: black;
}
.bungee {
    font-family: 'Bungee', cursive;
}
.comfortaa {
    font-family: 'Comfortaa', cursive;
}

.bg-dark-hover:hover {
    background-color: gray;
}

.filter {
    font-size: 2em;
    transition: 0.3s;
    cursor:pointer
}
.filter:hover {
    color: wheat
}

.projects-enter-active {
    opacity: 0;
    transition: 0.3s;
}
.projects-leave-active {
    opacity: 0;
    transition: 0.3s;
}
.projects-enter, .projects-leave-to
/* .projects-leave-active below version 2.1.8 */ {
    opacity: 0;
    transition: 0.3s;
}

.filters > .active {
    color: #d9534f
}

.filter-link {
    color: whitesmoke;
    transition: 0.3s
}
.filter-link:hover {
    text-decoration: none;
    color: wheat
}
.bg-light-black {
    background-color: #303030;
}
.bg-breadcrum {
    background-color: #101010;
}
.list-group-item.active {
    color: #101010;
    background-color: #5bc0de;
}
.list-group-item:hover {
    color: white;
    background-color: #292b2c;
}