.jumbotron-picture {
    background-image: url("https://img4.goodfon.com/wallpaper/nbig/0/9b/michelle-lewin-sexy-model-fitness.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}
.semi-transparent-bg {
    background-color: rgba(48, 48, 48, 0.4);
 }
.vertical-center {
    min-height: 100%;  
    min-height: 100vh;
  
    display: flex;
    align-items: center;
  }
