<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    
    <link href="../css/main.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/662634c78e.js" crossorigin="anonymous"></script>

</head>

<body onload="loadIndexPage()">
    
    <div class="container-fluid bg-black p-0">
        <div class="row fixed-top">
            
            <div class="col-12 comfortaa">
                
                <nav class="navbar  navbar-expand-lg navbar-dark bg-black">
                    <a class="navbar-brand bungee" href="index_en.html"><img src="../assets/logo.png" width="50px"/>&nbsp;AlwaysStop Fitness</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index_en.html">Home</a>
                              </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Language
                                </a>
                                <div class="dropdown-menu bg-black" aria-labelledby="navbarDropdown2">
                                    <a class="dropdown-item bg-dark-hover text-white" href="index_sr.html">Srpski</a>
                                    <a class="dropdown-item bg-dark-hover text-white" href="index_en.html">English</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Services
                                </a>
                                <div class="dropdown-menu bg-black " aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item bg-dark-hover text-white" href="treninzi_en.html">Trainings</a>
                                    <a class="dropdown-item bg-dark-hover text-white" href="nutricionista_en.html">Nutritional specialist</a>
                                    <a class="dropdown-item bg-dark-hover text-white" href="masaze_en.html">Massages</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Appointments
                                </a>
                                <div class="dropdown-menu bg-black " aria-labelledby="navbarDropdown3">
                                    <a class="dropdown-item bg-dark-hover text-white" href="zakazivanje_trening_en.html">Training booking</a>
                                    <a class="dropdown-item bg-dark-hover text-white" href="zakazivanje_nutri_en.html">Nutritional specialst appointments</a>
                                    <a class="dropdown-item bg-dark-hover text-white" href="zakazivanje_masaza_en.html">Massage appointments</a>
                                </div>
                            </li>
                          <li class="nav-item">
                            <a class="nav-link" href="moj_nalog_en.html">My account</a>
                          </li>
    
                          <li class="nav-item">
                            <a class="nav-link" href="o_nama_en.html">About us</a>
                          </li>
    
                        </ul>
                    </div>
    
                </nav>
            <div class="row pl-4 text-white bg-breadcrum">
                <a href="#" class="btn breadcrum-link" > <i class="fas fa-caret-right"></i> &nbsp;Main</a>
          </div>
        </div>
        </div>
        
        
        <div class="jumbotron-fluid full-height vertical-center jumbotron-picture bungee" >
           <div class="container-fluid m-0 p-0 text-white">
               <div class="semi-transparent-bg p-4" style="width:auto">
                    <h1 style="font-size: 4.5em; "> Being the strongest is easy</h1>
                    <h2> Winston Churchill</h2>
               </div>
               
           </div>
        </div>
        <div class="row p-4 m-0 justify-content-center border-bottom border-top border-info">
            <div class="col-12 text-center">
                <div class="row justify-content-center mb-5">
                    <h1 class="bungee">
                        The best Anti-fitness center in Belgrade!
                    </h1>
                </div>
                <div class="row text-center" style="display: flex; align-items: center;">
                
                <img src="assets/woman-prepares-for-workout.jpg" class="col-md-4 rounded mb-3 mb-md-2 img-fluid" >
                <div class="col-md-4  comfortaa">
                    <p class="">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, voluptate earum. Commodi, est dolore aliquid rem sint consequatur maxime reprehenderit tempora aliquam temporibus, officia sunt id, vero perferendis nam consectetur.
                    </p>
                </div>
 
                <img src="assets/abs-workout-tire.jpg" alt="" class="col-md-4 rounded mb-3 mb-md-2 img-fluid" >
               
                </div>
                
            </div>
        </div>
        <div class="row p-4 m-0 border-bottom border-info comfortaa">
            <div class="col-12 text-center">
                <h1 class="bungee">
                    Here's why us!
                </h1>
                
               <div class="row  justify-content-center">
                   <div class="col-12 col-md-4 col-lg-2">
                    <i style="font-size: 3em;" class="fas text-danger fa-medal mb-2"></i>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, nisi. Voluptate dolores ullam incidunt cum placeat tempore enim deserunt doloremque odit, facere consectetur minus delectus officiis recusandae dolore? Aspernatur, exercitationem?
                    </p>
                   </div>
                   <div class="col-12 col-md-4 col-lg-2">
                    <i style="font-size: 3em;" class="fas text-danger fa-dumbbell mb-2"></i>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, nisi. Voluptate dolores ullam incidunt cum placeat tempore enim deserunt doloremque odit, facere consectetur minus delectus officiis recusandae dolore? Aspernatur, exercitationem?
                    </p>
                   </div>
                   <div class="col-12 col-md-4 col-lg-2">
                    <i style="font-size: 3em;" class="fas text-danger fa-apple-alt mb-2"></i>
                    <br>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore, nisi. Voluptate dolores ullam incidunt cum placeat tempore enim deserunt doloremque odit, facere consectetur minus delectus officiis recusandae dolore? Aspernatur, exercitationem?
                    </p>
                   </div>
                  
               </div>
               <h2 class="bungee mt-3 text-danger">
                   They've said about us...
               </h2>
               <div id="carouselExampleIndicators" class="carousel slide m-5" data-ride="carousel">
                
                <div class="carousel-inner">
                  <div class="carousel-item active">
                   <h2>"The best Fitness center across the whole of former Yugoslavia"</h2>
                   <br>
                   <h3>Times New York</h3>
                  </div>
                  <div class="carousel-item">
                    <h2>"The best Fitness center across the whole of former Yugoslavia"</h2>
                    <br>
                    <h3>Times New York</h3>
                  </div>
                  <div class="carousel-item">
                    <h2>"The best Fitness center across the whole of former Yugoslavia"</h2>
                   <br>
                   <h3>Times New York</h3>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
               
            </div>
        </div>
        <div class="row p-4 justify-content-center m-0 comfortaa" id="ponuda">
            <h1 class="bungee mb-4">
                Top offers
            </h1>
            <div class="col-12 justify-content-center card-group">
                <div :class=" {'card':true,  'text-white':true,  'ml-2':true,  'ml-md-3':true,  'mb-3':true,  'rounded':true, 'bg-dark' : index == 0, 'bg-warning' : index == 1, 'bg-primary' : index == 2}" style="min-width: 18rem;" v-for="(element,index) in elements">
                    <div class="card-header text-center bungee"><h3>{{element.name}}</h3>
                        <br>
                        <span v-html="element.starTextByAverage"></span><span>/{{element.trainingAvgScore}}</span><br>
                        <span>&nbsp;{{element.numberOfComments}} ratings</span>
                    </div>
                    <div class="card-body">
                      <p class="card-text">{{element.description}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-center">
                            <a v-bind:href="'trening_en.html?type='+element.link" class="btn btn-light">Read more</a> 
                        </small>
                      </div>
                  </div>
            </div>
        </div>
        <footer class="page-footer comfortaa font-small blue pt-4 bg-dark border-top border-info">
            <div class="container-fluid">
                <div class="row m-0">
                    <div class="col-12  col-md-4 ">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h4 style="font-weight: normal;">AlwaysStop Fitness</h4>
                            </div>
                        </div>
                        <hr >
                        <div class="row offset-3">
                            <i class="fas fa-location-arrow"></i> &nbsp;Banovo Brdo
                        </div>
                        <div class="row offset-3">
                            <i class="fas fa-envelope"></i> &nbsp;administration@alwaysstopfitness.rs
                        </div>
                        <div class="row offset-3">
                            <i class="fas fa-globe"></i> &nbsp;alwaysstopfitness.rs
                        </div>
                        <br>
                        <div class="row offset-3">
                            <p>
                                Business: Fitness club <br>
    
                                Business code: 9313<br>
    
                                PIB: 108988929<br>
    
                                Registry number: 21106364<br>
                            </p>
                        </div>
                        
                    </div>
                    
                    <div class="col-12  p-1 col-md-4">
                        <div class="row p-0">
                            <div class="col-12 text-center">
                                <h4 style="font-weight: normal;">AlwaysStop Fitness locations</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row offset-3">
                            <p>
                                Autokomanda  +381 62 570 434 <br>

                                Dimitrijala   +381 11 403 95 36<br>

                                Big Fashion Park   +381 11 4022 488<br>

                                Aviv Park   +381 11 630 43 02<br>

                                Novi Sad   +381 21 32 70 200<br>

                                Banovo Brdo   +381 11 454 12 62<br>

                                Obrenovac   +381 63 436 291<br>

                                Vojislava Ilića   +381 11 454 30 14<br>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 p-1 col-md-4 text-center">
                        <div class="row p-0">
                            <div class="col-12 text-center">
                                <h4 style="font-weight: normal;">Useful links</h4>
                            </div>
                        </div>
                        <hr>
                        <table style="margin: auto">
                            <tr>
                                <td>
                                    <a href="index_en.html" class="footer_link">Home</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="treninzi_en.html" class="footer_link">Trainings</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="nutricionista_en.html" class="footer_link">Nutritional specialst</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="masaze_en.html" class="footer_link">Massages</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="zakazivanje_trening_en.html" class="footer_link">Training booking</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="zakazivanje_nutri_en.html" class="footer_link">Nutritional specialist appointments</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="zakazivanje_masaza_en.html" class="footer_link">Massage appointments</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="o_nama_en.html" class="footer_link">About us</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row bg-dark text-white">
                    <div class="col-12 p-4 text-center">
                        <h6><i>Copyright 2020, Luka Špehar, Stefan Teslić, Department of Software Engineering, Faculty of Electrical Engineering, University of Blegrade</i></h6>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>
    <script src="../js/moment.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>