<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Treninzi</title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    
    <link href="../../css/main.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/662634c78e.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <div class="container-fluid p-0 comfortaa"> <div class="row fixed-top">
            
        <div class="col-12 comfortaa">
            
        <nav class="navbar  navbar-expand-lg navbar-dark bg-black">
            <a class="navbar-brand bungee" href="../../index.html"><img src="../../assets/logo.png" width="50px"/>&nbsp;AlwaysStop Fitness</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="../../index.html">Početna</a>
                      </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Jezik
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="#">Srpski</a>
                            <a class="dropdown-item" href="#">English</a>
                        </div>
                    </li>
                    <li class="nav-item active dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Usluge
                        </a>
                        <div class="dropdown-menu bg-black" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item bg-black bg-dark-hover text-danger" href="views/sr/treninzi.html">Treninzi</a>
                            <a class="dropdown-item bg-black bg-dark-hover" href="#">Nutricionista</a>
                            <a class="dropdown-item bg-black bg-dark-hover"  href="#">Masaze</a>
                        </div>
                    </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Zakazivanje treninga</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Moj nalog</a>
                  </li>
                  
                  <li class="nav-item">
                    <a class="nav-link" href="#">O nama</a>
                  </li>
                  
                </ul>
            </div>

        </nav>
        <div class="row pl-4 text-white bg-breadcrum">
            <a href="../../index.html" class="btn breadcrum-link" > <i class="fas fa-caret-right"></i> &nbsp;Main</a>
            <a href="treninzi.html" class="btn breadcrum-link" > <i class="fas fa-caret-right"></i> &nbsp;Treninzi</a>
            <a href="#" class="btn breadcrum-link" > <i class="fas fa-caret-right"></i> &nbsp;Zakazivanje treninga</a>
      </div>
    </div>
    </div>
        <div class="jumbotron-fluid vertical-center jumbotron-picture" style="height: 60vh;">
           <div class="container-fluid m-0 p-0 text-center text-white">
               <div class="semi-transparent-bg p-4" style="width:auto">
                    <h1 style="font-size: 4.5em; "> Zakazite trening </h1>
               </div>
           </div>
        </div>
        <div class="row p-4 m-0 justify-content-center bg-black border-info border-top border-bottom">
            <div class="col-12 col-sm-6 justify-content-center">
                <h1 class="bungee">
                    Izaberite tip treninga
                </h1>
                <div class="list-group border rounded border-dark" id="list-tab" role="tablist">
                    <a class="list-group-item bg-black border-bottom border-dark list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Joga</a>
                    <a class="list-group-item bg-black border-bottom border-dark list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Cardio</a>
                    <a class="list-group-item bg-black border-bottom border-dark list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Pilates</a>
                    <a class="list-group-item bg-black border-bottom border-dark list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Core</a>
                  </div>

            </div>
            <div class="col-12 col-sm-6 justify-content-center">
                <h1 class="bungee">
                    Izaberite trening
                </h1>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Joga</div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Cardio</div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Pilates</div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Core</div>
                  </div>
            </div>
        </div>
        <div class="row p-4 m-0 justify-content-center bg-black border-info border-top border-bottom">
            <h1 class="bungee">
                Slobodni termini 
            </h1>
        </div>
        

        <footer class="page-footer comfortaa text-light font-small blue pt-4 bg-dark border-top">
            <div class="container-fluid">
                <div class="row m-0">
                    <div class="col-12  col-md-4 ">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h4 style="font-weight: normal;">AlwaysStop Fitness</h4>
                            </div>
                        </div>
                        <hr >
                        <div class="row offset-3">
                            <i class="fas fa-location-arrow"></i> &nbsp;Banovo brdo
                        </div>
                        <div class="row offset-3">
                            <i class="fas fa-envelope"></i> &nbsp;administration@alwaysstopfitness.rs
                        </div>
                        <div class="row offset-3">
                            <i class="fas fa-globe"></i> &nbsp;alwaysstopfitness.rs
                        </div>
                        <br>
                        <div class="row offset-3">
                            <p>
                                Delatnost: Delatnost fitnes klubova <br>
    
                                Šifra delatnosti: 9313<br>
    
                                PIB: 108988929<br>
    
                                Matični broj: 21106364<br>
    
                            </p>
                        </div>
                        
                    </div>
                    
                    <div class="col-12  p-1 col-md-4">
                        <div class="row p-0">
                            <div class="col-12 text-center">
                                <h4 style="font-weight: normal;">AlwaysStop Fitness lokacije</h4>
                            </div>
                        </div>
                        <hr>
                        <div class="row offset-3">
                            <p>
                                

                                Autokomanda  +381 62 570 434 <br>

                                Dimitrijala   +381 11 403 95 36<br>

                                Big Fashion Park   +381 11 4022 488<br>

                                Aviv Park   +381 11 630 43 02<br>

                                Novi Sad   +381 21 32 70 200<br>

                                Banovo Brdo   +381 11 454 12 62<br>

                                Obrenovac   +381 63 436 291<br>

                                Vojislava Ilića   +381 11 454 30 14<br>

    
                            </p>
                        </div>
                    </div>
                    <div class="col-12 p-1 col-md-4 text-center">
                        <div class="row p-0">
                            <div class="col-12 text-center">
                                <h4 style="font-weight: normal;">Korisni linkovi</h4>
                            </div>
                        </div>
                        <hr>
                        <p>
                            Cene<br>
                            Lokacije<br>
                            Grupni trening<br>
                            Personalni trener<br>
                            Ženska zona<br>
                            Masaža<br>
                            Online plaćanje<br>
                            Za firme<br>
                            Dešavanja<br>
                            Blog<br>

                        </p>
                        
                    </div>
                </div>
                <div class="row bg-dark text-white">
                    <div class="col-12 p-4 text-center">
                        <h6><i>Copyright 2020, Luka Špehar, Stefan Teslić, odsek za Softversko inženjerstvo Elektrotehničkog fakulteta, univerzitet u Beogradu</i></h6>
                    </div>
                </div>
            </div>
        </footer>
        
    </div>
    <script src="../../js/main.js"></script>
</body>
</html>